.container {
  width: 38px;
  height: 38px;
  border-radius: 8px;
  border: none;

  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  user-select: none;

  transition: background var(--transition), visibility var(--transition);

  background: var(--p-primary-100);
}
.container.hovered {
  background: var(--p-primary-200) !important;
}
.container.selected {
  background: var(--p-primary-500) !important;
}
.container:focus-visible {
  outline: none;
  border: solid 2px var(--p-primary-500) !important;
  background: var(--p-primary-300) !important;
}