:host {
  height: 100%;
  display: flex;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 8px;

    overflow: hidden;

    &-button {
      position: relative;
    }

    &-edit-button {
      transform: scale(0);
      position: absolute;
      top: 7px;
      left: 46px;

      transition: transform 300ms;
    }
    &-edit-button.visible {
      transform: scale(1);
    }
  }
}

.resize-button {
  margin: 0 auto 8px auto;
}
