:host {
  margin-top: auto;
  position: relative;
}

.container {
  width: 38px;
  height: 38px;
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background, width 200ms;
  user-select: none;

  &__icon {
    rotate: 0deg;
    transition: transform 300ms;
  }
  &__icon.rotated {
    transform: rotate(90deg);
  }
}
