:host {
  position: absolute;
  left: calc(100% + 8px);

  z-index: 10;
}

.container {
  display: flex;
  background: var(--p-primary-100);
  transition: width 200ms;

  border-radius: 0 8px 0 0;

  width: 0;
  overflow: hidden;
}
