:host {
  position: absolute;
  left: calc(100% + 8px);

  z-index: 10;
}

.container {
  display: flex;
  visibility: hidden;
  background: var(--p-primary-100);
  transition: width var(--transition);

  border-radius: 0 8px 0 0;

  width: 0;
  overflow: hidden;
}
.container.opened {
  visibility: visible;
}
