:host {
  flex: 1;
  display: flex;
}

.parent {
  position: absolute;
  width: calc(100% - 62px + 200px);
  height: calc(100% - 16px + 200px);

  left: 54px;
  top: 8px;

  z-index: -1;
}

.container {
  background: white;
  border-radius: 8px;

  display: flex;
  position: relative;

  //transition: width var(--transition), height var(--transition);
}
